$theme-config: (

	themeName  : "light",
	themeStyle : light,
    colours : (
		"primary-colour"   : $col-blue,
		"secondary-colour" : $col-green,
		"tertiary-colour"  : $col-orange,
		"color-4"          : red
    	),
    darken  : 10,
    lighten : 10

) !default;


@include theme($theme-config);

