
//See variables/_theme_settings for config vars
@include theme($theme-config);


// ===============================================================
// Core styles config - see mixins/_core.scss for implementation

	$core-config : (

		container   : 1000px,                  // Creates a centralised .container class
		stack       : true,                    // Creates a stackable element class
		rounded     : 10px 20px,               // Loop to create rounded element classes
		borderBox   : false,                   // Adds border-box styles to all elements
		formBox     : true,                    // Adds border-box styles to relevent form elements
		transitions : 0.25s 0.5s 0.75s 1s,     // Loop to create transition classes
		centre      : true,                    // Adds css3 centring classes
		fadeIn      : false                    // Adds satggering elements for the fadeIn animation
	);

	@include core($core-config);

// ===============================================================



.bevelStack{

	@include boxSizing(20px);
	@include bevelDivider($body-bg,"bottom");
}


.grid-example{

	background:#ddd;
	padding:20px 0;
	min-height:30px;
	margin-bottom:20px;
	position:relative;

	p{
		@include centre;
	}
}


@include grid(12,2%,700px);










