$containerWidth:1000px;

body{

	background:$body-bg;
	color:$col-dark;
	font-family:$font1;

}


section{

	@include stack;
}

hr{
	
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:1px dashed $body-bg-subtle;
	display: block;
	margin:20px 0;
}

//4. Global classes ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


.container{

	margin:0 auto;
	max-width:$containerWidth;
}

.bevelStack{

	@include boxSizing(20px);
	@include bevelDivider($body-bg,"bottom");
}

.stack{
	@include stack;
}

.animated{
	@include single-transition(all,1s,ease)
}

.animatedQuick{
	@include single-transition(all,0.3s,ease)
}

.fitParent{
	@include fitParent;
}

.centre{
	@include centre;
}

.centreX{
	@include centre(x);
}

.centreY{
	@include centre(y);
}

.fadeIn{
	@include animation(fadeIn,ease,0.5s,5,0.2s)
}



