
//See variables/_theme_settings for config vars
@include theme($theme-config);

$containerWidth:1000px;

$core-config : (
	stack       : true,
	borderBox   : false,
	form-bbox   : true,
	transitions : true,
	fitParent   : true,
	centre      : true,
	fadeIn      : false
);

@include core($core-config);


.container{

	margin:0 auto;
	max-width:$containerWidth;
}

.bevelStack{

	@include boxSizing(20px);
	@include bevelDivider($body-bg,"bottom");
}











