
//Tones
// --------------------------------
$col-light  : #eeeeee;
$col-grey   : #ababab;
$col-dark   : #222222;

//Hues
// --------------------------------
$col-blue   : rgb(193, 220, 241);
$col-orange : #eb9f18;
