//Theme specific vars

//Colours
$body-bg : lighten($col-light,3%); //Body background colour
$body-bg-subtle : darken($body-bg,6%); //Body subtley changed


$font1 : "Open Sans", sans-serif;
$font2 : "Open Sans Condensed", sans-serif;

