// -----------------------------------------
// Font face includes
// -----------------------------------------
//
// open-sans
// open-sans-condensed
// roboto
// roboto-slab

@mixin open-sans($body-font:false){

	@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
	}
	@font-face {
	    font-family: 'Open Sans';
	    font-style: normal;
	    font-weight: 600;
	    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
	}
	@font-face {
	    font-family: 'Open Sans';
	    font-style: normal;
	    font-weight: 800;
	    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
	}

	@if $body-font {

		body, .open-sans{
			font-family: "Open Sans", sans-serif;
		}

	} @else {

		.open-sans{
			font-family: "Open Sans", sans-serif;
		}
	}
}


@mixin open-sans-condensed($body-font:false){

	@font-face {
	    font-family: 'Open Sans Condensed';
	    font-style: normal;
	    font-weight: 300;
	    src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/gk5FxslNkTTHtojXrkp-xF1YPouZEKgzpqZW9wN-3Ek.woff) format('woff');
	}
	@font-face {
	    font-family: 'Open Sans Condensed';
	    font-style: normal;
	    font-weight: 700;
	    src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/gk5FxslNkTTHtojXrkp-xONSK5BxN3NFS4EJkViHIqo.woff) format('woff');
	}

	@if $body-font {

		body, .open-sans-condensed{
			font-family: "Open Sans Condensed", sans-serif;
		}

	} @else {

		.open-sans-condensed{
			font-family: "Open Sans Condensed", sans-serif;
		}
	}
}


@mixin roboto($body-font:false){

	@font-face {
	  	font-family: 'Roboto';
	  	font-style: normal;
	  	font-weight: 300;
	  	src: local('Roboto Light'), local('Roboto-Light'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
	}
	@font-face {
	  	font-family: 'Roboto';
	  	font-style: normal;
	  	font-weight: 400;
	  	src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
	}
	@font-face {
	  	font-family: 'Roboto';
	  	font-style: normal;
	  	font-weight: 700;
	  	src: local('Roboto Bold'), local('Roboto-Bold'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
	}

	@if $body-font {

		body, .roboto{
			font-family: "Roboto", arial, sans-serif;
		}

	} @else {

		.roboto{
			font-family: "Roboto", arial, sans-serif;
		}
	}
}


@mixin roboto-slab($body-font:false){

	@font-face {
	  	font-family: 'Roboto Slab';
	  	font-style: normal;
	  	font-weight: 300;
	  	src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJR_xHqYgAV9Bl_ZQbYUxnQU.woff) format('woff');
	}
	@font-face {
	  	font-family: 'Roboto Slab';
	  	font-style: normal;
	  	font-weight: 400;
	  	src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/y7lebkjgREBJK96VQi37ZobN6UDyHWBl620a-IRfuBk.woff) format('woff');
	}
	@font-face {
	  	font-family: 'Roboto Slab';
	  	font-style: normal;
	  	font-weight: 700;
	  	src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJTqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
	}

	@if $body-font {

		body, .roboto-slab{
			font-family: "Roboto Slab", times, serif;
		}

	} @else {

		.roboto-slab{
			font-family: "Roboto Slab", times, serif;
		}
	}

}

